:global(.vtex-slider-layout-0-x-caretIcon--custom-slider) {
  overflow: hidden;
  height: 10px;
  width: 10px;
}
:global(.vtex-slider-layout-0-x-sliderArrows--custom-slider) {
  background: #fff !important;
  border-radius: 40px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 25%);
  height: 40px;
  margin: 0 60px 74px;
  mix-blend-mode: normal;
  width: 40px;
  top: 33%;
}
:global(.vtex-slider-layout-0-x-sliderTrackContainer-custom-slider) {
  margin-bottom: 76px;
}

:global(.vtex-slider-layout-0-x-sliderTrack--custom-slider) {
  justify-content: flex-start;
}
:global(.vtex-slider-layout-0-x-paginationDotsContainer--custom-slider) {
  margin: -30px 0;
}

:global(.vtex-slider-layout-0-x-paginationDot--custom-slider) {
  height: 12px !important;
  width: 12px !important;
  margin: 8px 7px;
}
:global(.vtex-slider-layout-0-x-sliderLayoutContainer--custom-slider) {
  margin-bottom: 50px;
}
